body {
	background: url();
}

h1 {
	text-align: center;
	font-size: 98px;
	font-weight: bold;
}

#wins {
	text-align: left;
}

#losses {
	text-align: left;
}

#current {
	text-align: center;
	font-size: 48px;
}

#remaining {
	text-align: left;
}

#guessed {
	text-align: left;
}

#secret {
	text-align: center;
}